<WarrantyClaim>
	<CompanyCode>{$nsp.CompanyCode}</CompanyCode>
	<Account>{$nsp.AccountNo}</Account>
	<ClaimNumber>{$job.ClaimNumber}</ClaimNumber>
	<BillNumber>{$bill_number}</BillNumber>
	<JobNumber>{$job.ServiceCentreJobNo}</JobNumber>
	<SamsungRef>{$job.NetworkRefNo}</SamsungRef>
	<ServiceType>{$job.GuaranteeCode}</ServiceType>
	<DefectType>{$job.DefectType}</DefectType>
	<AuthorisationNo>{$job.AuthorisationNo}</AuthorisationNo>
	<ConsumerDetails>
		<ConsumerCountry>{$country.InternationalCode}</ConsumerCountry>
		<Name>
			<Title>{$title}</Title>
			<FirstName>{$customer.ContactFirstName}</FirstName>
			<MiddleName/>
			<LastName>{$customer.ContactLastName}</LastName>
		</Name>
		<Address1>
			<HouseNumber>{$customer.BuildingNameNumber}</HouseNumber>
			<Street>{$customer.Street}</Street>
		</Address1>
		<Address2>{$customer.Address2}</Address2>
		<Address3>{$customer.Address3}</Address3>
		<Postcode>{$customer.PostalCode}</Postcode>
		<PhoneNo>{$customer.ContactHomePhone}</PhoneNo>
		<FaxNo>{$customer.ContactFax}</FaxNo>
	</ConsumerDetails>
	<Model>{$model}</Model>
	<SerialNo>{$job.SerialNo}</SerialNo>
	<CRTSerialNo/>
	<CRTManufacturerName/>
	<IRISConditionCode>{$job.ConditionCode}</IRISConditionCode>
	<IRISDefectCode>{$iris.IRISDefectCode}</IRISDefectCode>
	<IRISSymptomCode>{$job.SymptomCode}</IRISSymptomCode>
	<IRISRepairCode>{$iris.IRISRepairCode}</IRISRepairCode>
	<IRISFlag></IRISFlag>
	<IRISSection>{$iris.IRISSection}</IRISSection>
	<Accessory>{$job.Accessories}</Accessory>
	<PurchaseDate>{$job.DateOfPurchase|date_format:'%Y-%m-%d'}</PurchaseDate>
	<ServiceRequestDate>{$job.DateBooked|date_format:'%Y-%m-%d'}</ServiceRequestDate>
	<ServiceRequestTime>{$job.TimeBooked|date_format:'%H:%M:%S'}</ServiceRequestTime>
	<RepairReceivedDate>{$job.DateUnitReceived|date_format:'%Y-%m-%d'}</RepairReceivedDate>
	<RepairReceivedTime>09:00:00</RepairReceivedTime>
	<RepairCompleteDate>{$job.RepairCompleteDate|date_format:'%Y-%m-%d'}</RepairCompleteDate>
	<RepairCompleteTime>09:00:00</RepairCompleteTime>
	<DeliveryDate>{$job.RepairCompleteDate|date_format:'%Y-%m-%d'}</DeliveryDate>
	<DeliveryTime>09:00:00</DeliveryTime>
	<DealerName></DealerName>
	<PartsAmount>{$total_unit_cost*100}</PartsAmount>
	<OtherCost>{$other_cost.TotalOtherCost*100}</OtherCost>
	<OtherAmountDescription>{$other_cost.Description}</OtherAmountDescription>
	<DefectDescription>{$job.ReportedFault}</DefectDescription>
	<RepairDescription>{$job.RepairDescription}</RepairDescription>
	<Remark>{$job.WarrantyNotes}</Remark>
	<InvoiceNumber></InvoiceNumber>
	<SaveOnError>true</SaveOnError>
	<InOutWarranty>In</InOutWarranty>
	<DPQ>{if $customer.DataProtection eq 'Yes'}Y{elseif $customer.DataProtection eq 'No'}N{/if}</DPQ>
	<NewModel/>
	<NewSerialNo/>
	<NewIMEINumber/>
	<Engineer>{if isset($job.EngineerCode)}{$job.EngineerCode}{else}{{$job.EngineerName}}{/if}</Engineer>
	<LocalPoint/>
	<SubProcessCode/>
	<AdditionalFreight>{$additional_freight}</AdditionalFreight>
	<GasCharge/>
	<FirmwareVersion>{$job.NewFirmwareVersion}</FirmwareVersion>
	<ServiceGrade/>
	<Operator/>
	<ChargeableTo>S</ChargeableTo>
	<DetailLineList>
            {foreach $parts_lines as $part}
		<DetailLineItem>
			<PartNumber>{$part.PartNumber}</PartNumber>
			<Location>{$part.Location}</Location>
			<QuantityUsed>{$part.QuantityUsed}</QuantityUsed>
			<PartsAmount>{$part.PartsAmount*100}</PartsAmount>
			<PartsInvoiceNumber>{$part.PartsInvoiceNumber}</PartsInvoiceNumber>
			<PartSerialNumber>{$part.PartSerialNumber}</PartSerialNumber>
		</DetailLineItem>
            {/foreach}
	</DetailLineList>
</WarrantyClaim>
